@import "src/styles/variables";
@import "src/styles/extends";

header {
  @extend %flex-center-flexStart;
  background-color: $color-header;
  border-bottom: 1px solid $color-hr;
  height: $height-header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-container-aside {
  @extend %flex-center-spaceBetween;
  min-width: $width-sidebar; max-width: $width-sidebar;
  max-height: 100%;
  padding: 0 24px;
  .header-element-aside{
    @extend %flex-center-flexStart;
    .logo-wrap {
      width: 124px;
      height: $height-header;
    }
  }
}

.header-container-nav{
  @extend %flex-center-spaceBetween;
  height: 100%;
  padding: 0 24px;
  width: 100%;
}
