<header>
  <section class="header-container-aside">
    <a href="/">
    <div class="header-element-aside">
      <svg class="logo-wrap">
        <use href="#logotype"></use>
      </svg>
    </div>
    </a>
  </section>
  <section class="header-container-nav">
    <div>
      <input class="input-search" placeholder="Search">
    </div>
    <div>
      <div (click)="openMenu()" [ngClass]="{'active-menu': menu}" class="but">    <svg class="menu-icon">
        <use href="#menu"></use>
      </svg></div>
    </div>
    <div *ngIf="menu" class="navigation-drop">
      <a class="gopro">
        <svg style="fill: #fff" class="nav-icon">
          <use href="#star"></use>
        </svg>
        <span style="color: #fff; font-weight: 500" class="nav-title">Upgrade account</span>
      </a>
      <hr style="width: 100%" class="hr-custom">
      <a class="nav-link">
         <svg style="fill: #727687" class="nav-icon">
           <use href="#organ"></use>
         </svg>
         <span class="nav-title">Mentions</span>
       </a>
       <a class="nav-link">
         <svg style="fill: #727687" class="nav-icon">
           <use href="#uni"></use>
         </svg>
         <span class="nav-title">Organization</span>
<!--         <div class="badge-organization" >12</div>-->
       </a>
      <a class="nav-link">
        <svg style="fill: #727687" class="nav-icon">
          <use href="#document"></use>
        </svg>
        <span class="nav-title">Documents</span>
      </a>
      <hr style="width: 100%" class="hr-custom">
      <a class="nav-link">
        <span class="nav-title">Account Settings</span>
      </a>
      <a (click)="logout()" class="nav-link">
        <span class="nav-title">Log Out</span>
      </a>
    </div>
  </section>
</header>
