<button (click)="goBack()">Go Back</button>
<br><br>
<h3>Add Student Form</h3>
<form [formGroup]="form">
  <label>First Name
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>Last Name
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <label>Password
    <input type="text" formControlName="password">
  </label>
  <br>
  <label>Phone
    <input type="text" formControlName="phone">
  </label>
  <br>
  <label>Email
    <input type="text" formControlName="email">
  </label>
  <br>
  <label>Keyword
    <input type="text" formControlName="keyword">
  </label>
  <br><br>
  <button (click)="add()" *ngIf="form.value.id === null">Add Student</button>
  <button (click)="remove()">Reset</button>
</form>


