<app-header></app-header>
<app-sidebar [activeLink]="'security'"></app-sidebar>

<main>
  <div class="main-wrap">
    <div class="breadcrumbs">
      <a class="crumb-link" routerLink="/">Home</a>
      <i class="crumb-arrow"></i>
      <a routerLink="/security" class="crumb-link crumb-link-active">Security</a>
    </div>
    <div style="margin-bottom: 16px" class="h1">Security</div>
    <div *ngIf="info" class="info-message">
      <i class="info-icon"></i>
      <span> The updated password will be sent to your email </span></div>
          <div *ngIf="incorrectPassword" class="error-message">
            <i class="error-icon"></i>
            <span>{{errorMessage}}</span></div>
          <div *ngIf="success" class="success-message">
            <i class="success-icon"></i>
            <span>The password has been successfully changed</span></div>
<!--    <hr style="margin-bottom: 28px" class="hr-custom">-->
    <form  [formGroup]="form">
<div class="section-input">
  <div ><div class="subtitle">Password</div> </div>

<div >  <div style="margin-bottom: 24px"> <label>New password</label>
  <input placeholder="New password" class="input-primary" type="password" formControlName="newPassword" ></div>
  <div> <label>Current password</label>
    <input placeholder="Current password" type="password" class="input-primary" formControlName="currentPassword" ></div></div>
  <div> <label>Repeat password</label>
    <input placeholder="Repeat password" type="password"  class="input-primary"  formControlName="confirmPassword"></div>
</div>
    </form>
    <div  style="text-align: right; margin-top: 32px" >
      <button (click)="changePassword()" class="btn-main">Save</button>
    </div>

<!--  <div style="display: flex; justify-content: space-between; margin-top: 400px">-->

<!--    <div style="width: 700px" >-->
<!--      <div *ngIf="info" class="info-message">-->
<!--        <i class="info-icon"></i>-->
<!--        <span> The updated password will be sent to your email </span></div>-->
<!--      <div *ngIf="incorrectPassword" class="error-message">-->
<!--        <i class="error-icon"></i>-->
<!--        <span>{{errorMessage}}</span></div>-->

<!--      <div *ngIf="success" class="success-message">-->
<!--        <i class="success-icon"></i>-->
<!--        <span>The password has been successfully changed</span></div>-->
<!--      <form style="margin-bottom: 12px" [formGroup]="form">-->
<!--        <label>Current password</label>-->
<!--        <input  class="input-primary" type="password" formControlName="currentPassword" >-->
<!--        <br>-->
<!--        <label>New password</label>-->
<!--        <input class="input-primary" type="password" formControlName="newPassword" >-->
<!--        <br>-->
<!--        <label>Confirm password</label>-->
<!--        <input   class="input-primary" type="password" formControlName="confirmPassword" >-->
<!--        <br>-->
<!--      </form>-->
<!--      <div  style="text-align: right;" >-->
<!--&lt;!&ndash;        <button [disabled]="this.form.invalid" (click)="changePassword()" class="btn-main">Save Changes</button>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="right-section">-->
<!--    <div class="info-board">-->
<!--      Password Requirements-->
<!--<br>-->
<!--      Use at least 12 characters-->
<!--      <br>-->
<!--      Use at most 200 characters-->
<!--      <br>-->
<!--      Use letters and numbers-->
<!--      <br>-->
<!--      Use special characters (such as ! + @)-->
<!--      <br>-->
<!--      Mix upper and lowercase letters</div>-->
<!--    </div>-->

<!--  </div>-->



  </div>
</main>

