<app-header></app-header>
<app-sidebar [activeLink]="'referents'"></app-sidebar>

<main>
  <div class="main-wrap">
    <div class="breadcrumbs">
      <a class="crumb-link" routerLink="/user">Accounts</a>
      <i class="crumb-arrow"></i>
      <a routerLink="/referents" class="crumb-link crumb-link-active">{{stringFormatter(currentPageUrl)}}</a>
    </div>

    <div class="flex-center-spaceBetween" style=" margin-bottom: 24px;">  <div class="h1">{{stringFormatter(currentPageUrl)}}</div> <div style="display:flex;"> <button style="margin-right: 8px;" class="btn-icon">
      <svg  class="btn-icon-svg">
        <use href="#cloud"></use>
      </svg>
    </button> <button class="btn-icon">
      <svg class="btn-icon-svg">
        <use href="#download"></use>
      </svg>
    </button>  </div></div>

    <div class="flex-center-spaceBetween" style="margin-bottom: 24px;">
      <div class="flex-center"></div>
      <div class="flex-center-spaceBetween">
        <button (click)="goCreate()" style=" margin: 0; border-radius: 8px 0 0 8px; border-right: 1px solid #4390F7" class="btn-main">
          New user</button ><button class="btn-part"> <svg class="btn-part-icon">
        <use xlink:href="#arrow"></use>
      </svg> </button>
      </div>
    </div>

    <div class="container">
      <app-user-list [users]="referents" *ngIf="referents?.length > 0"></app-user-list>
    </div>
  </div>
</main>
