@import "src/styles/variables";
@import "src/styles/mixins";

.modal-sort-act{
  @include small-modal;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  margin-top: 12.5px;
  margin-left: -10px;
}

.btn-sort{
  width: 100%;
  display: flex;
  padding: 4px 32px 4px 4px;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #5E647A;
  stroke: #5B6178;
  &:hover{
    color: #000000;
    stroke: #000000;
  }
}

.btn-sort-active{
  color: $color-primary;
  stroke: $color-primary;
  &:hover{
    color: $color-primary;
    stroke: $color-primary;
  }
}

.arrow-up{
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.hr-modal-sort{
  width: 100%;
  border: 0;
  height: 1.5px;
  margin-top: -2px;
  margin-bottom: -6px;
  background: #F4F4F6;
}
