/*
Error: File to import not found or unreadable: src/styles/variables.
        on line 1 of menu.component.scss

1: @import "src/styles/variables";
2: @import "src/styles/extends";
3: 
4: .grid{
5:   display: flex;
6:   align-items: flex-start;

Backtrace:
menu.component.scss:1
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:44:in `import'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/slava/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/slava/.rvm/rubies/ruby-3.0.0/bin/sass:23:in `load'
/Users/slava/.rvm/rubies/ruby-3.0.0/bin/sass:23:in `<main>'
/Users/slava/.rvm/rubies/ruby-3.0.0/bin/ruby_executable_hooks:22:in `eval'
/Users/slava/.rvm/rubies/ruby-3.0.0/bin/ruby_executable_hooks:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: src/styles/variables.\A         on line 1 of menu.component.scss\A \A 1: @import \"src/styles/variables\";\A 2: @import \"src/styles/extends\";\A 3: \A 4: .grid{\A 5:   display: flex;\A 6:   align-items: flex-start;"; }
