@import "variables";

@mixin flex-center-flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-center-spaceBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin input {
  padding: 12px 14px;
  border-radius: $border-radius;
  font-size: 14px;
  border: none;
  font-family: $font-family;
}

@mixin button {
  padding: 10px 16px;
  border-radius: $border-radius;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $font-family;
  cursor: pointer;
}
