//colors
$color-bg: #F5F6F7;
$color-primary: #2A83FA;
$color-sidebar: #ffffff;
$color-header: #ffffff;
$color-bg-secondary: #F5F6F7;
$color-text: #23252E;
$color-hr: #F5F6F7;

//widths
$width-sidebar: 266px;

//heights
$height-header: 72px;

//fonts
$font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
$font-line-height-basic: 18px;

//borders
$border-radius: 8px;
