//global variables
$color-bg: #F5F6F7;
$color-sidebar: #ffffff;
$color-header: #ffffff;
$color-bg-secondary: #F5F6F7;
$color-text: #23252E;
$color-hr: #F5F6F7;

//widths
$width-sidebar: 266px;

//heights
$height-header: 62px;

//fonts
$font-line-height-basic: 18px;

