@import "src/styles/variables";
@import "src/styles/mixins";

.icon {
  fill: $color-text;
  position: absolute;
  margin-left: 12px;
  margin-top: 11px;
  width: 18px;
  height: 18px;
}

.btn-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 38px;
  height: 38px;
  border: 1px solid $color-hr-strong;
  //box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, 0 0 0 1px $color-hr-strong;
  //box-shadow: 0 0 0 1px $color-hr-strong;
  border-radius: 8px;
  cursor: pointer;
}

.btn-icon-svg{
  width: 16px;
  height: 16px;
}

.btn-part-icon{
  width: 18px;
  height: 18px;
}
