<div>
  <form [formGroup]="form">
    <label class="input-icon">Username
      <svg class="icon-container">
        <use href="#account"></use>
      </svg>
      <input #userNameField [ngClass]="{'input-error': form.get('username').invalid && form.get('username').touched}" placeholder="Username" class="input-primary-icon" type="text" formControlName="username">
    </label>
    <br>
      <label class="input-icon">Password
          <svg class="icon-container">
          <use href="#log2"></use>
        </svg>
        <input [ngClass]="{'focus': focus==true}" #passNameField style=" margin: 10px 0 12px 0; padding-left:40px;" placeholder="Password"  class="input-primary"  type="password" formControlName="password">
      </label>
     <div style="text-align: right; font-weight: 500; color: #2A84FA" class="h5">Forgot password?</div>
    <br><br>
    <button style="width: 100%" class="btn-main" (click)="onSubmit()">Sign in</button>
  </form>
</div>
