<app-header></app-header>

<app-sidebar></app-sidebar>

<div class="page-wrapper">
  <main>
    <div class="container">
      <div class="headline-basic">
        <span class="headline-font">Zoznam predmetov</span>
        <button (click)="openPopup()" class="btn-main">Pridať predmet</button>
      </div>
      <div *ngIf="popup==true" class="backdrop">
        <div class="modal">
         <button class="btn-close" (click)="closePopup()"></button>
          <app-subject-form [subject]="activeSubject" (addSubject)="add($event)" (editSubject)="edit($event)"></app-subject-form>
        </div>
        </div>
      <app-subject-list [subjects]="subjects" (editSubject)="editSubjectFromList($event)" (removeSubject)="deleteSubjectFromList($event)"></app-subject-list>
  </div>
  </main>

</div>


