@import "src/styles/mixins";
@import "src/styles/variables";

.sidebar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $width-sidebar;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $color-sidebar;
  transition: 0.3s;
  overflow-y: auto;
  z-index: 1;
}

#sidebar-left::-webkit-scrollbar {
  width: 0;
}

.nav-section {
  width: 100%;
  scrollbar-width: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-section::-webkit-scrollbar {
  width: 0;
}

.nav-link {
  @include sidebar-link;
  color: $color-text-link-sidebar;
  stroke: $color-text-link-sidebar;
  transition: 0.15s;
  &:hover{
    background-color: $color-bg-link-sidebar-hover;
  }
}

.nav-link-secondary{
  @include sidebar-link;
  color: $color-text-link-sidebar;
  stroke: $color-text-link-sidebar;
  transition: 0.05s;
  &:hover{
    color: #fff;
  }
}

.nav-link-active {
  stroke: $color-text-link-sidebar-active;
  color: $color-text-link-sidebar-active;
  background-color: $color-bg-link-sidebar-active;
  font-weight: 500;
  &:hover{
    background-color: $color-bg-link-sidebar-active;
  }
}

.custom-link-icon{
  content: url("../../../img/card.png");
  width: 20px;
  height: 20px;
}

.subdesc{
  color: #50565C;
  font-weight: 600;
  font-size: 12px;
  margin-bottom:8px;
}

.nav-link-active-sub{
  margin-left: 28px;
}

.navi-drag{
  position: absolute;
  left: 10px;
}

.sidebar-drop{
  position: relative;
  margin: 0;
  vertical-align: baseline;
}

.sidebar-drop:before{
    content: "";
    position: absolute;
    top: 0;
    left: 17px;
    bottom: 25px;
    width: 1.5px;
    border-radius: 2px;
    background: #2B2F35;
}

.nav-title {
  font-size: 14px;
  transition: 0.2s;
}

.nav-icon {
  width: 20px;
  height: 20px;
  transition: 0.25s;
}

.navi-icon{
  width: 12px;
  height: 12px;
  margin-left: 7px;
  stroke: #2B2F35;
}

.nav-icon-circle{
  position: absolute;
  margin-top: -4px;
  right: 28px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.nav-icon-plus{
  position: absolute;
  margin-top: -4px;
  right: 50px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  :hover{
    stroke: #fff;
  }
}
.shadow{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.arrow-flip{
  transform: rotate(-180deg);
}

.logo{
  width: 42px;
  height: 42px;
  margin-bottom: 32px;
}

/* mobile */
@media (max-width: 768px) {
  .sidebar-left {
    width: 100vw;
    transform: translateX(-1000px);
    transition: 500ms transform;
    -webkit-transition: 500ms transform;
    -webkit-transform: translateX(-1000px);
  }
}
