
<br>
<div *ngIf="!subjects || subjects?.length === 0">
  List of subjects is empty.
</div>


<table id="table" *ngIf="subjects?.length > 0">
  <thead>
    <th>Názov predmetu</th>
    <th>Rozsah hodín</th>
    <th>Počet kreditov</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let s of subjects">
    <td>{{s.name}}</td>
    <td>{{s.hours}}</td>
    <td>{{s.credit}}</td>
    <td>
      <div>
        <div id="col-btn">
        <button class="btn-second" (click)="edit(s.id)">Upraviť</button>
        <button class="btn-second" (click)="remove(s.id)">Odstraniť</button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
