@import "src/styles/mixins";
@import "src/styles/variables";

#sidebar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $width-sidebar;
  height: 100vh;
  padding: ($height-header+20) 20px 20px 20px;
  position: fixed;
  left: 0;
  background-color: $color-sidebar;
  transition: 0.3s;
  overflow-y: auto;
  border-right: 1px solid $color-hr;
}

#sidebar-left::-webkit-scrollbar {
  width: 0;
}

.nav-section {
  width: 100%;
  scrollbar-width: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-section::-webkit-scrollbar {
  width: 0;
}

.nav-link {
  display: grid;
  grid-template-columns: max-content max-content auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  column-gap: 8px;
  padding: 10px 12px 10px 12px;
  font-weight: 400;
  border-radius: 6px;
  line-height: 20px;
  margin-bottom: 2px;
  cursor: pointer;
}

.nav-link-active {
  background-color: $color-bg-secondary;
  font-weight: 600;
}

.nav-link-active-sub{
  margin-left: 28px;
}

.nav-title {
  color: var(--color-text);
  font-size: 14px;
}

.nav-icon {
  fill: var(--color-text);
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.nav-icon-circle{
  position: absolute;
  margin-top: -5px;
  right: 28px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.shadow{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.arrow-flip{
  transform: rotate(-180deg);
}


/* mobile */
@media (max-width: 768px) {
  #sidebar-left {
    width: 100%;
  }
}
