@import "src/styles/variables";

$color-active-radio: #33A365;

.radio-toolbar {
  width: 100%;
  display: flex;
  column-gap: 20px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 12px 12px 18px;
  box-shadow:  0 0 0 1px #EEEFEF;
  border-radius: $border-radius;
  transition: 0.1s;
}

.radio-toolbar label:hover {
  box-shadow:  0 0 0 1px #E1E3E3;
}
//
//.radio-toolbar input[type="radio"]:focus + label {
//  border: 2px dashed #444;
//}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #F5FBF7;
  box-shadow:  0 0 0 1px $color-active-radio;
  //border: 1px solid $color-active-radio;
}

.icon-block-active{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #34A364;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-right: 14px;
}

.icon-admin{
  width: 18px;
  height: 18px;
}
.icon-block{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.icon{
  width: 20px;
  height: 20px;
  stroke-width: 2px;
  stroke: #2A81FA;
}

.radio-circle{
  width: 14px;
  height: 14px;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 0 0.5px #D0D0D3;
  box-shadow:  0 0 0 0.5px #D0D0D3;
  border: 1px solid #D0D0D3;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: auto;
}

.radio-circle-active{
  background-color: $color-active-radio;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 0 1.5px $color-active-radio;
  box-shadow:  0 0 0 1.5px $color-active-radio;
  border: 2.5px solid #fff;
}



@mixin icon-label{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.icon-role{
  @include icon-label;
  content: url("~src/img/role.svg");
}

.icon-key{
  @include icon-label;
  content: url("~src/img/key.svg");
}

.icon-id{
  @include icon-label;
  content: url("~src/img/id.svg");
}
