<form [formGroup]="form">

  <!-- FIRST SECTION -->
  <section class="section-input">
    <div class="flex-center" style="margin-bottom: 8px"><i class="icon-role"></i><span class="subtitle">Type</span></div>
    <div class="radio-toolbar">

      <input formControlName="roleId" (click)="switchRadio('referent')" type="radio" id="referent"  [value]="2" >
      <label for="referent">
        <div class="flex-column">
          <span class="h3">Referent</span>
          <span class="description">Current referents: </span>
        </div>
        <div [ngClass]="{'radio-circle-active' : activeRadioButton == 'referent'}" class="radio-circle"></div></label>


      <input formControlName="roleId" (click)="switchRadio('teacher')" type="radio" id="teacher"  [value]="3">
      <label for="teacher">
        <div class="flex-column">
          <span class="h3">Teacher</span>
          <span class="description">Current teachers: </span>
        </div>
        <div [ngClass]="{'radio-circle-active' : activeRadioButton == 'teacher'}" class="radio-circle"></div></label>


      <input formControlName="roleId" (click)="switchRadio('student')" type="radio" id="student"  [value]="4" >
      <label for="student">
        <div class="flex-column">
          <span class="h3">Student</span>
          <span class="description">Current teachers: </span>
        </div>
        <div [ngClass]="{'radio-circle-active' : activeRadioButton == 'student'}" class="radio-circle"></div></label>

      <input formControlName="roleId" (click)="switchRadio('admin')" type="radio" id="admin"  [value]="1" >
      <label for="admin">
        <div class="flex-column">
          <span class="h3">Administrator</span>
          <span class="description">Current admins: </span>
        </div>
        <div [ngClass]="{'radio-circle-active' :  activeRadioButton == 'admin'}" class="radio-circle"></div>
      </label>
    </div>
  </section>

  <!-- SECOND SECTION -->
  <section class="section-input-parts">
    <div class="flex-center" style="margin-bottom: 8px"><i class="icon-key"></i> <span class="subtitle">Privacy Information</span></div> <div></div>
      <label>Username
      <input   [ngClass]="{'input-primary-invalid' : this.form.controls.username.touched && this.form.controls.username.invalid || ( this.form.controls.username.invalid && invalid) }" formControlName="username" placeholder="Username" class="input-primary" type="text"></label>
      <label>Password
      <input
        [ngClass]="{'input-primary-invalid' : this.form.controls.passwordHash.touched && this.form.controls.passwordHash.invalid || ( this.form.controls.passwordHash.invalid && invalid) }"
        formControlName="passwordHash" placeholder="Password" type="password" class="input-primary"></label>
  </section>

  <!-- THIRD SECTION -->
  <section class="section-input-parts">
    <div class="flex-center" style="margin-bottom: 8px"><i class="icon-id"></i> <span class="subtitle">Personal Information</span></div> <div></div>
      <label>First name
      <input
        [ngClass]="{'input-primary-invalid' : this.form.controls.firstName.touched && this.form.controls.firstName.invalid || ( this.form.controls.firstName.invalid && invalid) }"
        formControlName="firstName"
        placeholder="First name" class="input-primary" type="text"></label>
      <label>Last name
      <input
        [ngClass]="{'input-primary-invalid' : this.form.controls.lastName.touched && this.form.controls.lastName.invalid || ( this.form.controls.lastName.invalid && invalid) }"
        formControlName="lastName" placeholder="Last name" type="text" class="input-primary"></label>
      <label>Phone number
      <input
        [ngClass]="{'input-primary-invalid' : this.form.controls.phone.touched && this.form.controls.phone.invalid || ( this.form.controls.phone.invalid && invalid) }"
        formControlName="phone" placeholder="Phone number" type="text" class="input-primary"></label>
      <label>Email
      <input
        [ngClass]="{'input-primary-invalid' : this.form.controls.email.touched && this.form.controls.email.invalid || ( this.form.controls.email.invalid && invalid) }"
        formControlName="email" placeholder="Email" type="text" class="input-primary"></label>
  </section>

<!-- CONTROL BUTTONS -->
 <div class="flex-center-spaceBetween">
   <button [routerLink]="'/'" class="btn-secondary">Cancel</button>
   <button (click)="createUser()" class="btn-main">Create</button>
 </div>

</form>
