<app-header></app-header>
<app-sidebar [activeLink]="'courses'"></app-sidebar>
<main >

  <div *ngIf="detailedSubject!=null" class="main-wrap">
    <div class="breadcrumbs">
      <a (click)="goHome()" class="crumb-link" >Home</a>
      <i class="crumb-arrow"></i>
      <a (click)="goCourses()" class="crumb-link">Courses</a>
      <i class="crumb-arrow"></i>
      <a  [href]="currentPageUrl" class="crumb-link crumb-link-active">{{detailedSubject.name}}</a>
    </div>
   <div style="margin-bottom: 12px; display: flex; align-items: center; justify-content: space-between" >
<!--     <button (click)="goCourses()" class="back-circle"><i class="img-arrow"></i></button>-->

     <span style="margin-right: 8px;" class="h1">{{detailedSubject.name}}</span>
<div class="gap-12 flex-center">

  <div *ngxPermissionsOnly="['ROLE_STUDENT']" >
    <button *ngIf="isSubscribed==true" [disabled]="!detailedSubject.accessible" class="btn-secondary" (click)="unsubscribeFromCourse()">Unsubscribe</button>
    <button *ngIf="isSubscribed==false" class="btn-main" [disabled]="!detailedSubject.accessible || detailedSubject.status==STATUS.CANCELLED || detailedSubject.status==STATUS.REFUSED" (click)="subscribeForCourse()">Subscribe</button>

  </div>
  <button *ngxPermissionsOnly="['ROLE_ADMIN', 'ROLE_REFERENT']" [routerLink]="['/courses', detailedSubject.id,'edit']" class="btn-secondary">Edit course</button>

  <button style="cursor: auto" class="tooltip btn-onlyicon">
    <span class="tooltiptext">Subscribers</span>
    <i class="users-icon"> </i> {{subscriptionCourses.length}} </button>

</div>

   </div>
    <div style="display: flex; align-items: center; margin-bottom: 32px">

      <span  class="h4">Taught by</span> <div><img  class="teacher-avatar" src="https://www.fpv.umb.sk/app/accountJpegPhoto.php?ID=9457&width=202" ></div>
      <span class="h3">{{detailedSubject.teacherFirstName + " " + detailedSubject.teacherLastName}}</span>
      <div class="vl"></div>
      <span  class="h4">Last update: {{detailedSubject.lastChangeDate}}</span>
      <div class="vl"></div>
      <svg *ngIf="detailedSubject.status == subjectStatus.APPROVED" class="copy-icon">
        <use xlink:href="#checked"></use>
      </svg>
      <svg *ngIf="detailedSubject.status == subjectStatus.REFUSED" class="copy-icon">
        <use xlink:href="#nonechecked"></use>
      </svg>

<!--      <label class="switch-wrap">-->
<!--        <input type="checkbox" />-->
<!--        <div class="switch"></div>-->
<!--      </label>-->
    </div>
    <hr class="hr-custom" style="margin-bottom: 28px">

    <div *ngxPermissionsOnly="[ROLE.ADMIN, ROLE.REFERENT]">
    <div style="margin-bottom: 24px" class="flex-center-spaceBetween">
      <div style="height: 40px" class="flex-center"> <i class="description-dot"></i> <span  class="h2">Subscriptions </span></div>
      <div style="gap: 16px"  *ngIf="toolbarVisible" class="showing flex-center-spaceBetween">
        <button (click)="exportStudents()" class="btn-secondary">Export</button>
        <div style="border-left: 1px solid #E3E3E3; width: 1px; height: 36px"></div>
        <button (click)="removeStudent()" class=" btn-remove"><i class="trash-icon"></i>Remove</button>
      </div>
    </div>
    <app-subscriptions-list
      (closeSettings)="hideToolbar()"
      (openSettings)="showToolbar()"
      (removeSubscription)="deleteStudentFromCourse($event)"
      [subscriptions]="subscriptionCourses">
    </app-subscriptions-list>
  </div>

    <div *ngxPermissionsOnly="[ROLE.STUDENT]">
      <div *ngIf="isSubscribed">
        <div  style="height: 40px; margin-bottom: 24px" class="flex-center"> <i class="description-dot"></i> <span  class="h2">My activity</span></div>
        <app-subscribed-course-info [currentSub]="subscriptionOfCurrentUser" > </app-subscribed-course-info>
      </div>
    </div>
  </div>
</main>
