<!--<div *ngIf="!courses || courses?.length === 0">-->
<!--  List of subjects is empty.-->
<!--</div>-->


<div  *ngIf="courses?.length > 0">


  <table >
    <col style="width: 30px;">
    <col style="width: 200px">
    <col style="width: 160px">
    <col style="width: 160px">
    <col style="width: 100px">
    <col style="width: 80px">
    <col style="width: 80px">
    <col style="width: 80px">

<!-- ...DESCRIPTION STARTS... -->
    <thead>
    <tr>

<!-- COLUMN 1 -->
      <th style="padding: 12px 12px 12px 16px">
        <label class="checkbox-custom">
        <input [(ngModel)]="parentSelector" [value]="-1" (change)="onChange($event)"  type="checkbox">
        <span ></span>
        </label>
      </th>

<!-- COLUMN 2 -->
      <th *ngIf="column1" >
        <span [ngClass]="{'th-column-active': sortByNameVisible}" class="th-column" (click)="showNameSorting()">Title
          <svg class="icon-sort"><use xlink:href="#switcher"></use></svg></span>
          <app-sort-modal *ngIf="sortByNameVisible"  [sortType]="sortByNameType" (sortByAsc)="sortByNameAsc()" (sortByDesc)="sortByNameDesc()"></app-sort-modal>
      </th>

<!-- COLUMN 3 -->
      <th>
        <span [ngClass]="{'th-column-active': sortByTeacherVisible}" class="th-column" (click)="showTeacherSorting()">Teacher
          <svg class="icon-sort"><use xlink:href="#switcher"></use></svg></span>
          <app-sort-modal *ngIf="sortByTeacherVisible" [sortType]="sortByTeacherType" (sortByAsc)="sortByTeacherAsc()" (sortByDesc)="sortByTeacherDesc()" ></app-sort-modal>
      </th>

<!-- COLUMN 4 -->
      <th>
        <span [ngClass]="{'th-column-active': sortByDateVisible}" class="th-column" (click)="showDateSorting()">Creation date
          <svg class="icon-sort"><use xlink:href="#switcher"></use></svg></span>
          <app-sort-modal *ngIf="sortByDateVisible" [sortType]="sortByDateType" (sortByAsc)="sortByDateAsc()" (sortByDesc)="sortByDateDesc()" ></app-sort-modal>
      </th>

<!-- COLUMN 5 -->
      <th>Hours</th>

<!-- COLUMN 6 -->
      <th>Credits</th>

<!-- COLUMN 7 -->
      <th>Status</th>

<!-- EMPTY COLUMN 8 -->
      <th></th>

<!-- ...DESCRIPTION ENDS... -->
    </tr>
    </thead>

<!-- ...CONTENT STARTS... -->
    <tbody>
    <tr [id]="item.id" [ngClass]="{'selected-row': item.select==true}"
        *ngFor="let item of courses | courseFilterByName:searchString | slice: (page-1) * pageSize : page * pageSize ">

<!-- COLUMN 1 -->
      <td style="padding: 12px 12px 12px 16px">
        <label class="checkbox-custom">
        <input [checked]="item.select" [value]="item.id" (change)="onChange($event)" type="checkbox">
        <span></span>
        </label>
      </td>

<!-- COLUMN 2 -->
      <td *ngIf="column1" (click)="openDetailsOfSubject(item.id)" >{{item.name}}</td>

<!-- COLUMN 3 -->
      <td>{{item.teacherFirstName}} {{item.teacherLastName}}</td>

<!-- COLUMN 4 -->
      <td>{{item.creationDate}}</td>

<!-- COLUMN 5 -->
      <td>{{item.hours}}</td>

<!-- COLUMN 6 -->
      <td>
        <div class="flex-center">
          <div class="credit" >
            {{item.credit}}K</div>
        </div>
      </td>

<!-- COLUMN 7 -->
      <td>
        <div class="flex-center">
        <div [ngClass]="badge(item.status)" class="course-status" >
         {{capitalString(item.status)}}</div>
        </div>
      </td>

<!-- EMPTY COLUMN 8 -->
      <td>
      </td>

    </tr>
    </tbody>
<!-- ...CONTENT ENDS... -->
  </table>

<!-- PAGINATION -->
  <div *ngIf="courses?.length > 0" class="pagination-section">

        <div class="h4">
          Page {{page}} of {{countOfPages()}}
        </div>
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="courses.length"
      [maxSize]="3"> <ng-template ngbPaginationPrevious></ng-template>
      <ng-template class="pag-arrow" ngbPaginationNext><i style="margin-left: -4px; margin-right: -4px" class="crumb-arrow"></i></ng-template>
    </ngb-pagination>
  </div>
</div>

<!-- POPUP NOTIFICATIONS -->
<div *ngIf="notificationRemoving" class="notification-modal" ><div class="icon-delete-block"><i class="trash-icon"></i></div>
  <span style="margin-right: 16px" class="h3"> You have deleted {{deletedList.length}} {{courseWordFormatter()}}</span>
</div>
