<app-header></app-header>
<app-sidebar [activeLink]="'courses'"></app-sidebar>
<div *ngIf="popup==true" class="backdrop">
  <div class="modal">
    <app-course-form
      (closePopup)="closePopup()" [teachers]="teachers" [courses]="allCourses"
      (addCourse)="add($event)" (editCourse)="edit($event)">
    </app-course-form>
  </div>
</div>
<main>
<div class="main-wrap">
 <div class="breadcrumbs">
   <a class="crumb-link" routerLink="/">Home</a>
   <i class="crumb-arrow"></i>
   <a routerLink="/courses" class="crumb-link crumb-link-active">{{stringFormatter(currentPageUrl)}}</a>
 </div>
<div style="display:flex;   margin-bottom: 24px;
justify-content: space-between; align-items: center">  <div class="h1">{{stringFormatter(currentPageUrl)}}</div> <div style="display:flex;"> <button style="margin-right: 8px;" class="btn-icon">
  <svg  class="btn-icon-svg">
    <use href="#cloud"></use>
  </svg>
</button> <button class="btn-icon">
  <svg class="btn-icon-svg">
    <use href="#download"></use>
  </svg>
</button>   </div></div>
  <div style="display:flex; margin-bottom: 24px; justify-content: space-between; align-items: center">
   <div style="display: flex">
     <button (click)="switchTab(1)" [ngClass]="{'button-tab-active': tab == 1}" class="button-tab">All courses</button>
     <button (click)="switchTab(2)" [ngClass]="{'button-tab-active': tab == 2}" class="button-tab">Approved</button>
     <button (click)="switchTab(3)" [ngClass]="{'button-tab-active': tab == 3}" class="button-tab">Refused<span *ngIf="refusedCourses?.length != 0" class="warning-circle">{{refusedCourses.length}}</span></button>
   </div>

    <div class="flex-center">
      <button (click)="openPopup()" style=" margin: 0; display: flex; align-items: center; border-radius: 8px 0 0 8px; border-right: 1px solid #4390F7" class="btn-main">
        New course</button ><button class="btn-part"> <svg class="btn-part-icon">
      <use xlink:href="#arrow"></use>
    </svg> </button>
    </div>
  </div>
      <div class="container">
        <app-course-list *ngIf="allCourses?.length > 0 && tab == 1" [courses]="allCourses" [searchString]="searchString" (editCourse)="editCourseFromList($event)" (removeCourse)="deleteCourseFromList($event)"></app-course-list>
        <app-course-list *ngIf="approvedCourses?.length > 0 && tab == 2" [courses]="approvedCourses" [searchString]="searchString" (editCourse)="editCourseFromList($event)" (removeCourse)="deleteCourseFromList($event)"></app-course-list>
        <app-course-list *ngIf="refusedCourses?.length > 0 && tab == 3" [courses]="refusedCourses" [searchString]="searchString" (editCourse)="editCourseFromList($event)" (removeCourse)="deleteCourseFromList($event)"></app-course-list>
      </div>
</div>
</main>


