<app-header></app-header>
<app-sidebar [activeLink]="'manual'"></app-sidebar>

<main>
  <div class="main-wrap">
    <div class="breadcrumbs">
      <a class="crumb-link" routerLink="/">Home</a>
      <i class="crumb-arrow"></i>
      <a routerLink="/organization" class="crumb-link crumb-link-active">Manual</a>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Introduction</div></div>
      <div>
        <b>eDuck</b> is an academic information system whose main role is to help organize university studies - namely courses. It was created as a final project by three students (D. Kamenská, V. Borodin, T. Peregrín) from Matej Bel University in Banská Bystrica.
      </div>
      <div>
        This guide will take you through the many useful features and functions of <b>eDuck</b> and will help you get better acquainted with the system.
      </div>
      <div>
        Notable features:
        <ul>
          <li>Homepage</li>
          <li>Courses</li>
          <li>User Management</li>
          <li>Account Management</li>
        </ul>
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Homepage</div></div>
      <div>
        Nunc vel elit quis tortor convallis dignissim eget eu risus. Praesent facilisis vitae lacus vel interdum. Nullam
        eget lorem tristique, interdum nulla ut, consectetur quam. Donec pulvinar sit amet sapien ullamcorper accumsan.
        Nunc finibus erat vitae lacinia fermentum. Nam sit amet nisl aliquam, rhoncus ligula in, condimentum justo. Ut
        ex purus, semper vel tellus at, placerat convallis eros. Curabitur luctus eu massa in rhoncus. Mauris eleifend
        est in porta feugiat. Vivamus posuere dui ligula, a dictum metus varius nec. Aenean a magna nunc. Nullam egestas
        nisi at erat aliquet malesuada ac a velit.
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Courses</div></div>
      <div>

      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">User Management</div></div>
      <div>
        This section of the manual is mostly about user management which is a specific feature that only someone with a role of "Admin" has access to.
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Account Management</div></div>
      <div>

      </div>
    </div>

  </div>
</main>
