<app-header></app-header>
<app-sidebar [activeLink]="'manual'"></app-sidebar>

<main>
  <div class="main-wrap">
    <div class="breadcrumbs">
      <a class="crumb-link" routerLink="/">Home</a>
      <i class="crumb-arrow"></i>
      <a routerLink="/organization" class="crumb-link crumb-link-active">Manual</a>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Introduction</div></div>
      <div>
        <b>eDuck</b> is an academic information system whose main role is to help organize university studies - namely courses. It was created as a final project by D. Kamenská, V. Borodin and T. Peregrín - three students from Matej Bel University in Banská Bystrica.
      </div>
      <div>
        This guide will take you through the many useful features and functions of <b>eDuck</b> and will help you get better acquainted with the system.
      </div>
      <div>
        Notable features:
        <ul>
          <li>Homepage</li>
          <li>Courses</li>
          <li>User Management</li>
          <li>Account Management</li>
        </ul>
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Homepage</div></div>
      <div>
        Nunc vel elit quis tortor convallis dignissim eget eu risus. Praesent facilisis vitae lacus vel interdum. Nullam
        eget lorem tristique, interdum nulla ut, consectetur quam. Donec pulvinar sit amet sapien ullamcorper accumsan.
        Nunc finibus erat vitae lacinia fermentum. Nam sit amet nisl aliquam, rhoncus ligula in, condimentum justo. Ut
        ex purus, semper vel tellus at, placerat convallis eros. Curabitur luctus eu massa in rhoncus. Mauris eleifend
        est in porta feugiat. Vivamus posuere dui ligula, a dictum metus varius nec. Aenean a magna nunc. Nullam egestas
        nisi at erat aliquet malesuada ac a velit.
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Courses</div></div>
      <div>
        A <b>User</b> has access to the whole list of courses with all the important information listed. To make manipulation with the list easier, a search bar is available to find the desired course by its title, as well as many filters that let you filter through the list in an ascending or descending order. A specific feature only available for <b>Admins</b>, <b>Referents</b> or <b>Teachers</b> is the ability to create a new course which can be accessed by clicking the <b>New course</b> button which then opens up a short form.
      </div>
      <div>
        A useful feature is the ability to export the whole list or just some of the courses into a pdf. This can be done by clicking the checkbox next to the listed course or by clicking the main one in the head of the table. Such an action let's two separate buttons appear - <b>Export</b> button which, as mentioned before, let's you export the table. While the other button - <b>Remove</b> is only visible for <b>Admins</b> and gives you the option to delete the desired course or courses.
      </div>
      <div>
        Clicking on any course listed in the table takes you to a page with more detailed information about the course and gives you different options depending on your role. <b>Admin</b>, <b>Referent</b> or a <b>Teacher</b> is able to edit the chosen course, while a <b>Student</b> has the ability to sign up for the chosen course, but only in the specified sign up period.
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">User Management</div></div>
      <div>
        This section of the manual is mostly about user management which is a specific feature that only someone with a role of <b>Admin</b> has access to. If you're looking for information on how to change your password or username, please refer to the <b>Account Management</b> section.
      </div>
      <div>
        Creating a new user is fairly simple. Clicking on the <b>Plus</b> sign which is located in the <b>Accounts</b> section of the sidebar takes you to the user creation page where you have the option to create 4 different types of users - Manager/Admin, Referent, Teacher or Student. After choosing the desired type of user, all you need to do is fill out the form with the correct information about the user and click the <b>Create</b> button.
      </div>
      <div>
        All the sections listed under the <b>Accounts</b> section lead to lists of users - specifically lists of <b>Teachers</b>, <b>Students</b> and <b>Referents</b>. To make manipulation with the list easier, a search bar is available to find the desired user by their last name, as well as many filters that let you filter through the list in an ascending or descending order. A <b>New user</b> button takes you back to the user creation page where you can create a new user.
      </div>
      <div>
        You also have the ability to export the whole list or just some of the users into a pdf. This can be done by clicking the checkbox next to the listed user or by clicking the main one in the head of the table. Such an action let's two separate buttons appear - <b>Export</b> button which, as mentioned before, let's you export the table. While the other button - <b>Remove</b> gives you the option to delete the desired course or courses.
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Account Management</div></div>
      <div>

      </div>
    </div>

  </div>
</main>
