<app-header></app-header>
<app-sidebar [activeLink]="'manual'"></app-sidebar>

<main>
  <div class="main-wrap">
    <div class="breadcrumbs">
      <a class="crumb-link" routerLink="/">Home</a>
      <i class="crumb-arrow"></i>
      <a routerLink="/organization" class="crumb-link crumb-link-active">Manual</a>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Introduction</div></div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce finibus hendrerit enim non pharetra. Nulla
        facilisi. Curabitur semper, diam sit amet suscipit auctor, ante arcu euismod nunc, fringilla feugiat ligula est
        quis nibh. Aliquam pellentesque, leo eu mollis tempus, magna eros pretium lacus, eu egestas tellus neque non
        eros. Nulla fringilla dolor quis finibus hendrerit. Suspendisse vitae sapien velit. Mauris quis tortor quis
        tortor interdum ornare. Sed at nunc vel tortor malesuada hendrerit. Cras a tortor eget lorem vulputate cursus.
        Donec et augue mattis, molestie sem vitae, efficitur justo. Nam suscipit, metus eget viverra tincidunt, tortor
        ante consectetur ipsum, id accumsan arcu nulla eget nibh.
      </div>
      <div>
        Nunc vel elit quis tortor convallis dignissim eget eu risus. Praesent facilisis vitae lacus vel interdum. Nullam
        eget lorem tristique, interdum nulla ut, consectetur quam. Donec pulvinar sit amet sapien ullamcorper accumsan.
        Nunc finibus erat vitae lacinia fermentum. Nam sit amet nisl aliquam, rhoncus ligula in, condimentum justo. Ut
        ex purus, semper vel tellus at, placerat convallis eros. Curabitur luctus eu massa in rhoncus. Mauris eleifend
        est in porta feugiat. Vivamus posuere dui ligula, a dictum metus varius nec. Aenean a magna nunc. Nullam egestas
        nisi at erat aliquet malesuada ac a velit.
      </div>
    </div>

    <div class="section-input">
      <div style="display: flex; align-items: center; margin-bottom: 6px">
        <div class="title">Homepage</div></div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce finibus hendrerit enim non pharetra. Nulla
        facilisi. Curabitur semper, diam sit amet suscipit auctor, ante arcu euismod nunc, fringilla feugiat ligula est
        quis nibh. Aliquam pellentesque, leo eu mollis tempus, magna eros pretium lacus, eu egestas tellus neque non
        eros. Nulla fringilla dolor quis finibus hendrerit. Suspendisse vitae sapien velit. Mauris quis tortor quis
        tortor interdum ornare. Sed at nunc vel tortor malesuada hendrerit. Cras a tortor eget lorem vulputate cursus.
        Donec et augue mattis, molestie sem vitae, efficitur justo. Nam suscipit, metus eget viverra tincidunt, tortor
        ante consectetur ipsum, id accumsan arcu nulla eget nibh.
      </div>
      <div>
        Nunc vel elit quis tortor convallis dignissim eget eu risus. Praesent facilisis vitae lacus vel interdum. Nullam
        eget lorem tristique, interdum nulla ut, consectetur quam. Donec pulvinar sit amet sapien ullamcorper accumsan.
        Nunc finibus erat vitae lacinia fermentum. Nam sit amet nisl aliquam, rhoncus ligula in, condimentum justo. Ut
        ex purus, semper vel tellus at, placerat convallis eros. Curabitur luctus eu massa in rhoncus. Mauris eleifend
        est in porta feugiat. Vivamus posuere dui ligula, a dictum metus varius nec. Aenean a magna nunc. Nullam egestas
        nisi at erat aliquet malesuada ac a velit.
      </div>
    </div>


  </div>
</main>
