@import "src/styles/variables";

.right-section {

}

.info-message{
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: #E8F0FA;
  padding: 16px 16px;
  border-radius: $border-radius ;
  margin-bottom: 24px;
}

.error-message{
  display: flex;
  align-items: center;
  font-size: 14px;
  //color: #F53333;
  //background-color: #FFF5F5;
  padding: 16px 16px;
  border-radius: $border-radius ;
  margin-bottom: 24px;
  //box-shadow: 0 0 0 1px #F6DCDB inset;
  transition: 0.3s ease-in;
  background-color: #FFE7E4;
  color: $color-text;
}

.success-message{
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: #EFF4F0;
  padding: 16px 16px;
  border-radius: $border-radius ;
  margin-bottom: 24px;
  transition: 0.3s ease-in;
}


.right-section{
  padding: 0 36px;
}

.info-board{
  border-radius: $border-radius;
  background-color: #F8F8F9;
  padding: 36px;
}


.info-icon{
  content: url("../../../img/info.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.password-icon{
  content: url("../../../img/password.svg");
  width: 20px;
  height: 20px;
  margin-right: 8px;
}




.error-icon{
  content: url("../../../img/error.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.success-icon{
  content: url("../../../img/success.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.subtitle{
  font-family: 'Inter', sans-serif;
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
}

.section-input{
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
  gap: 24px;
  background-color: #fff;
  width: 50%;
  border-radius: 8px;
  padding: 24px;
  //border: 1px solid #F1F1F2;
  //box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px,  rgba(0, 0, 0, 0.04) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
