<app-header></app-header>
<app-sidebar [activeLink]="'profile'"></app-sidebar>

<main >
  <div class="main-wrap">
    <div class="breadcrumbs">
      <a class="crumb-link" routerLink="/">Home</a>
      <i class="crumb-arrow"></i>
      <a routerLink="/profile" class="crumb-link crumb-link-active">Profile</a>
    </div>
    <div style="margin-bottom: 16px" class="h1">Profile</div>

    <form  [formGroup]="form">
      <div class="section-input">
        <div ><div class="subtitle">User Info</div> </div>

        <div >  <div style="margin-bottom: 24px"> <label>First Name</label>
          <input placeholder="New password" class="input-primary" type="text" formControlName="firstName" ></div>
        </div>

        <div >  <div style="margin-bottom: 24px"> <label>Last Name</label>
          <input placeholder="New password" class="input-primary" type="text" formControlName="lastName" ></div>
        </div>

        <div >  <div style="margin-bottom: 24px"> <label>Password</label>
          <input placeholder="New password" class="input-primary" type="password" formControlName="newPassword1" ></div>
          </div>

        <div> <label>Repeat password</label>
          <input placeholder="Repeat password" type="password"  class="input-primary"  formControlName="newPassword2"></div>


        <div >  <div style="margin-bottom: 24px"> <label>Email</label>
          <input placeholder="New password" class="input-primary" type="email" formControlName="email" ></div>
        </div>

        <div >  <div style="margin-bottom: 24px"> <label>Phone</label>
          <input placeholder="New password" class="input-primary" type="number" formControlName="phone" ></div>
        </div>
      </div>

    </form>
    <div  style="text-align: right; margin-top: 32px" >
      <button class="btn-main">Save</button>
    </div>

    <!--  <div style="display: flex; justify-content: space-between; margin-top: 400px">-->

    <!--    <div style="width: 700px" >-->
    <!--      <div *ngIf="info" class="info-message">-->
    <!--        <i class="info-icon"></i>-->
    <!--        <span> The updated password will be sent to your email </span></div>-->
    <!--      <div *ngIf="incorrectPassword" class="error-message">-->
    <!--        <i class="error-icon"></i>-->
    <!--        <span>{{errorMessage}}</span></div>-->

    <!--      <div *ngIf="success" class="success-message">-->
    <!--        <i class="success-icon"></i>-->
    <!--        <span>The password has been successfully changed</span></div>-->
    <!--      <form style="margin-bottom: 12px" [formGroup]="form">-->
    <!--        <label>Current password</label>-->
    <!--        <input  class="input-primary" type="password" formControlName="currentPassword" >-->
    <!--        <br>-->
    <!--        <label>New password</label>-->
    <!--        <input class="input-primary" type="password" formControlName="newPassword" >-->
    <!--        <br>-->
    <!--        <label>Confirm password</label>-->
    <!--        <input   class="input-primary" type="password" formControlName="confirmPassword" >-->
    <!--        <br>-->
    <!--      </form>-->
    <!--      <div  style="text-align: right;" >-->
    <!--&lt;!&ndash;        <button [disabled]="this.form.invalid" (click)="changePassword()" class="btn-main">Save Changes</button>&ndash;&gt;-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="right-section">-->
    <!--    <div class="info-board">-->
    <!--      Password Requirements-->
    <!--<br>-->
    <!--      Use at least 12 characters-->
    <!--      <br>-->
    <!--      Use at most 200 characters-->
    <!--      <br>-->
    <!--      Use letters and numbers-->
    <!--      <br>-->
    <!--      Use special characters (such as ! + @)-->
    <!--      <br>-->
    <!--      Mix upper and lowercase letters</div>-->
    <!--    </div>-->

    <!--  </div>-->



  </div>
</main>

