html {
  --color-text: #23252E;
  --color-checkbox-border: #dadce3;
  --color-link-active: #f4f5f6;
  --color-nav-active: #222222;
  --color-indicator-message: #e3e6ec;
  --color-text-primary-message: #222222; }

* {
  box-sizing: border-box; }

html,
body {
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  height: 100%; }

body {
  background-color: #ffffff;
  margin: 0 auto;
  scrollbar-width: none; }

a:active,
a:hover,
a:visited,
a {
  text-decoration: none; }

button,
button:active,
button:focus {
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  outline: none; }

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none; }

input,
textarea {
  outline: none; }

.element::-webkit-scrollbar {
  width: 0; }

.page-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
  padding-left: 266px;
  transition: 0.5s; }

main {
  width: 100%;
  padding: 24px 24px; }

.headline-basic {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* CSS */
.btn-main {
  appearance: none;
  background-color: #2A83FA;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap; }

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none; }

.button-3:hover {
  background-color: #2c974b; }

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none; }

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default; }

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset; }

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

.headline-font {
  color: #23252E;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px; }

.hr-custom {
  border: 0;
  height: 1px;
  background: #E8E9ED; }

#table {
  width: 100%;
  border-collapse: collapse; }

#table td, #table th {
  padding: 16px; }

#table tr:hover {
  background: #FAFAFA;
  cursor: pointer;
  transition: 0.3s; }

#table td {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FAFAFA;
  color: #24262F; }

#col-btn {
  text-align: end; }

/* CSS */
.btn-second {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 8px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-right: 8px; }

.btn-second:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s; }

.btn-second:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default; }

.btn-second:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s; }

.btn-second:focus {
  outline: 1px transparent; }

.button-4:before {
  display: none; }

.container {
  width: 100%;
  background: #fff;
  padding: 24px 32px;
  border-radius: 6px; }

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  overflow: auto;
  z-index: 1001;
  width: 100vw;
  height: 100vh; }

.modal {
  display: block;
  padding: 32px;
  background: #ffffff;
  margin-top: 36px;
  margin-bottom: 36px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 12px;
  width: 500px;
  animation: 0.4s show ease; }

input {
  width: 100%;
  padding: 12px 12px;
  background: #ffff;
  border: 1px solid #E6E5E5;
  border-radius: 8px;
  margin: 8px 0 20px 0; }

input:focus {
  background: #fff;
  border: 1.5px solid #B6CBFE;
  box-shadow: 0 0 0 3px #E6EEFE;
  transition: 0.05s; }

.input-search {
  width: 100%;
  padding: 14px 14px;
  color: var(--color-text);
  background: #FAFAFA;
  /*border: 1px solid #F2F3F3;*/
  font-size: 15px;
  padding-left: 40px; }

.input-search:focus {
  background: #fff;
  border: none;
  outline: none;
  transition: 0.1s;
  box-shadow: 0 0 0 3px #E6EEFD; }

.filter {
  z-index: 0;
  position: relative; }

.filter i {
  position: absolute;
  bottom: 34px;
  left: 12px; }

::-webkit-input-placeholder {
  /* Edge */
  color: var(--color-text-secondary); }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-text-secondary); }

::placeholder {
  color: var(--color-text-secondary); }

.error-message {
  color: #F80100;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 12px; }

.success-message {
  color: #2BAC47;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 14px;
  transition: ease-in;
  line-height: 16px; }

.input-error {
  margin: 8px 0 4px 0;
  border: 1.5px solid #F90000; }

.input-small-error {
  margin: 8px 0 20px 0;
  border: 1.5px solid #F90000; }

.input-small-container {
  margin-left: 12px; }

.select-error {
  margin: 8px 0 4px 0;
  border: 1.5px solid #F90000; }

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: url("x.svg") no-repeat center; }

.btn-close:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  transition: 0.3s; }

/*# sourceMappingURL=styles.css.map */
