<header xmlns="http://www.w3.org/1999/html">
  <div class="header-wrap">
    <div>
         <div class="filter">
            <input class="input-sea header-search-input" style="padding: 12px 12px 12px 40px;margin-right: 14px; border: none; box-shadow: none" type="text" placeholder="Search...">
            <svg class="icon">
              <use href="#search"></use>
            </svg>
          </div>
    </div>
       <div (click)="openMenu()" [ngClass]="{'burger-active': menu}" class="burger">    <svg class="menu-icon">
            <use href="#menu"></use>
          </svg></div>
        <nav *ngIf="menu" class="navigation-drop">
          <a class="gopro">
            <svg style="fill: #fff" class="nav-icon">
              <use href="#star"></use>
            </svg>
            <span style="color: #fff; font-weight: 500" class="nav-title">Upgrade account</span>
          </a>
          <hr style="width: 100%" class="hr-custom">
          <a class="nav-link">
             <svg class="nav-icon">
               <use href="#organ"></use>
             </svg>
             <span class="nav-title">Mentions</span>
           </a>
           <a routerLink="/organization" class="nav-link">
             <svg  class="nav-icon">
               <use href="#uni"></use>
             </svg>
             <span class="nav-title">Organization</span>
    <!--         <div class="badge-organization" >12</div>-->
           </a>
          <a class="nav-link">
            <svg  class="nav-icon">
              <use href="#document"></use>
            </svg>
            <span class="nav-title">Documents</span>
          </a>
          <hr style="width: 100%" class="hr-custom">
          <a class="nav-link">
            <span class="nav-title">Account Settings</span>
          </a>
          <a (click)="logout()" class="nav-link">
            <span class="nav-title">Log Out</span>
          </a>
        </nav>
  </div>
</header>
