@import "src/styles/variables";
@import "src/styles/mixins";

header {
  display: flex;
  align-items: center;
  background-color: $color-header;
  height: $height-header;
  position: fixed;
  top: 0;
  left: $width-sidebar;
  right: 0;
  z-index: 20;
  //border-bottom: 1px solid #F2F2F3;
}

.header-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-side;
}

.userProfilePic{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E3E3E3;
  border-radius: 8px;
  color: #3F3F3F;
  font-weight: 500;
  width: 36px;
  height: 36px;
  font-size: 14px;
}

.header-container-aside {
  @include flex-center-spaceBetween;
 //max-width: $width-sidebar;
  max-height: 100%;
  padding: 0 24px;
  .header-element-aside{
    @include flex-center-start;
    .logo-wrap {
      fill: #fff;
      width: 124px;
      height: $height-header;
      &:hover{
        fill: #F5F5F5;
      }
    }
  }
}

.header-container-nav{
  @include flex-center-spaceBetween;
  height: 100%;
  padding: 0 $padding-side;
  //width: 100%;
}


.burger{
  @include flex-center-center;
  background: transparent;
  width: 34px;
  height: 34px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    background-color: #FFFFFF;
  }
}

.burger-active{
  background-color: #FFFFFF;
}

.menu-icon{
  fill: #1A1C1F;
  width: 24px;
  height: 24px;
  margin: 0;
}

.navigation-drop{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding: 32px 32px 20px 32px;
  position: absolute;
  right: $padding-side - 12;
  top: ($height-header - 8px);
  border-radius: $border-radius;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
  box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
  width: 250px;
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: fadeInDown2;
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 2%, 0px);
  }
  100% {
    opacity: 1;
    right: $padding-side - 12;
    transform: translate(0, 0);
  }
}

.gopro{
  //background: linear-gradient(0deg, rgba(254,186,87,0.05), rgba(254,186,87,0.05)),#fff;
  //border: 2px solid #FCDAA9;
  background: #2A84FA;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 8px;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: center;
  padding: 10px 20px 10px 14px;
  border-radius: $border-radius;
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 12px;
}

.nav-link {
  display: grid;
  grid-template-columns: max-content max-content auto;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  column-gap: 8px;
  padding: 10px 0 10px 0;
  border-radius: $border-radius;
  line-height: 20px;
  cursor: pointer;
  &:hover{
    padding-left: 16px;
    border-radius: 6px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: #F6F6F7;
    .nav-title{
      transition: 0.2s;
      color: $color-text;
    }
  }
}

.nav-title {
  color: #727687;
  font-size: 14px;
  font-weight: 400;
}

.badge-organization{
  position: absolute;
  right: 28px;
  font-size: 12px;
  font-weight: 600;
  color: #FE592B;
  background-color: #FFF3EF;
  //border: 1px solid #EDEDED;
  padding: 4px 8px;
  border-radius: 6px;
}

.nav-icon {
  fill: #727687;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}

.filter{
  //margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  padding: 0;
 //background-color: #FAFAFB;
  border-radius: 8px;
  width: 290px;
  .header-search-input {
    line-height: 18px;
    background-color: #fff;
    &:focus{
      background-color: #fff;
    }
  }
}

.icon-fill{
  fill: red;
}

.icon {
  fill: #1B1D1F;
  position: absolute;
  margin-left: 12px;
  margin-top: 12px;
  width: 18px;
  height: 18px;
}

::placeholder {
  color: #9CA0A6;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
}

/* mobile */
@media (max-width: 768px) {
  #header-search{
    display: none;
  }
  .header-container-nav{
    justify-content: flex-end;
  }
}

